# Pengenalan Notebook

- ctrl/cmd+enter: run
- shift+enter: run + jump to next cell (create new one if none exists)
- alt+enter: run + insert a new code cell below it

In [ ]:
# melakukan coding python di Jupyter Notebook
a = "Hello, World!"
print(a)

Hello, World!

In [ ]:
a = 10
print(a)

10

In [ ]:
b = 15
b # tidak perlu print jika hanya satu variabel di akhir cell

15

# Shell Commands
Untuk mengecek commands lain yang tersedia di Linux, kamu dapat mengeceknya di [sini](https://courses.cs.washington.edu/courses/cse390a/14au/bash.html).

In [ ]:
# menggunakan perintah shell di Jupyter Notebook
!ls # menampilkan daftar file di direktori saat ini

sample_data

In [ ]:
!pwd # menampilkan direktori kerja saat ini

/content

# Magics

In [ ]:
import numpy as np

%timeit np.linalg.eigvals(np.random.rand(100, 100))
# mengukur waktu eksekusi dari sebuah perintah dengan magic command %timeit

The slowest run took 4.24 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 5: 8.07 ms per loop

In [ ]:
%%HTML # menggunakan HTML di Jupyter Notebook
<marquee style='width:30%; color: green;'>Hello World!</marquee>

# Documentation

In [ ]:
np.random?
# menampilkan dokumentasi dari fungsi np.random

Object `np.random` not found.

# Markdown

**Python** *Programming*

[Google Website](https://google.com)

1. Apples
1. Oranges
1. Mangoes
1. Grapes

* Apples
* Oranges
* Mangoes

* Apples
  1. Apple 1
  1. Apple 2
  1. Apple 3

LaTex Syntax:
Use MathJax Rendering

$\sqrt{9}+1^3$

Nama Makanan | Harga
--- | ---
Nasi Goreng | 25000
Es Teh Manis | 3500